body {
    background-color: #eceff1;
    font-family: 'Roboto', sans-serif;
}

#banner{
	background-color: #79ccf5;
	color: white;
	font-family:'Roboto', sans-serif;;
	text-align: center;
	vertical-align: top;
	padding: 40px;
}

#mapmarker{
	font-size: 70px;
	left: 150%;

}

@media (min-width: 500px) {
	#mapmarker {
		left: 250%;
	}
}


#infoTekst{
	color: white;
	background-color: #79ccf5;
	text-align: center;
	font-size: 16px;
}

.container{
	padding-top: 3%;
	padding-bottom: 3%;

}

@media (max-width: 768px) {
	.form-horizontal {
		width: 100%;
	}
}

#timetable {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	position: relative;
}

#bussrad {
	padding-top: 5%;
	padding-bottom: 5%;
}

#buss {
	padding-top: 25px;
	text-align: left;
}

#min {
	padding-top: 15px;
	text-align: left;
	color: grey;
	z-index: 100;
  	position: absolute;
}

#footer {
    padding-top: 5px;
    padding-bottom: 3px;
	color: white;
	background-color: #79ccf5;
	text-align: center;
	border-style: white;
	font-size: 10px;
}

.lnr {
	font-size: 30px;
}

#myCanvas {
    position: absolute;
	left: 0;
	top: -60;
}

#main-footer {

}

