body {
    background-color: #eceff1;
    font-family: 'Roboto', sans-serif;
}

#banner{
	background-color: #79ccf5;
	color: white;
	font-family:'Roboto', sans-serif;;
	text-align: center;
	vertical-align: top;
	padding: 40px;
}

#mapmarker{
	position: relative;
	font-size: 70px;

}

#infoTekst{
	color: white;
	background-color: #79ccf5;
	text-align: center;
	font-size: 16px;
}

.container{
	padding-top: 3%;
	padding-bottom: 3%;

}

@media (max-width: 768px) {
	.form-horizontal {
		width: 100%;
	}
}

#timetable {
	text-align: center;
}

.img-circle{
	max-height: 80px;
}

#footer {
	color: white;
	background-color: #79ccf5;
	text-align: center;
	border-style: white;
	font-size: 10px;
	padding: 7px;

}

.lnr {
	font-size: 30px;
}

